<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Music</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">

    

    <!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .container-fluid{
        padding-left: 0;
        padding-right: 0;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body{
        background-image: url('bg.jpg');
        background-color: #1F1B24;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover
      }
    </style>

  
  </head>
  <body style="height: 100vh;">
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class=" col-9 d-flex justify-content-center">
      <div class="navbar-brand" ><h2>Rate my music</h2></div>
    </div>
    
      <form class="col-3 d-flex pr-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="container-fluid row justify-content-end" style="height: 100vh;">
  <div class="col-2 fixed-top d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 280px;height: '100vh';">
    <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4"><%= username %></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
    <li class="nav-item">
    <a href="/" class="nav-link text-white" aria-current="page">
      My Ratings
    </a>
  </li>
  <li>
    <a href="/" class="nav-link text-white">
      My Music
    </a>
  </li>
  <li>
    <a href="/" class="nav-link text-white">
      Settings
    </a>
  </li>
  <li class="nav-item">
    <a href="/logout" class="nav-link bg-danger text-white" aria-current="page">
      Logout
    </a>
  </li>
    </ul>
    <hr>
  </div>

  <div class=" col-10 starter-template text-center py-1 ">
    
    <div class="container px-4" id="custom-cards">
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 pt-4 pb-1 pl-1 pr-2 text-white text-shadow-1">
              <h2 class="pt-2 mb-4 display-6 lh-1 fw-bold">My Activity</h2>
              <ul class="list-group bg-dark">
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                </li>
              </ul>
              <ul class="d-flex px-3 justify-content-end list-unstyled mt-auto">
                  <small><a class="text-light" href="/">show More</a></small>
                
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 pt-4 pb-1 pl-1 pr-2 text-white text-shadow-1">
              <h2 class="pt-2 mb-4 display-6 lh-1 fw-bold">My Ratings</h2>
              <ul class="list-group bg-dark">
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">6/10</span>
                </li>
              </ul>
              <ul class="d-flex px-3 justify-content-end list-unstyled mt-auto">
                  <small><a class="text-light" href="/">show More</a></small>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 pt-4 pb-1 pl-1 pr-2 text-white text-shadow-1">
              <h2 class="pt-2 mb-4 display-6 lh-1 fw-bold">My Music</h2>
              <ul class="list-group bg-dark">
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-center">
                  A list item
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
              </ul>
              <ul class="d-flex px-3 justify-content-end list-unstyled mt-auto">
                  <small><a class="text-light" href="/">show More</a></small>
                
              </ul>
            </div>
          </div>
        </div>
      </div>



      <div class="row row-cols-1 row-cols-lg align-items-stretch g-4 py-1">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 pt-1 pb-1 pl-1 pr-2 text-white text-shadow-1">
              
              <div class="container-fluid p-3">
                <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
                  <div class="bg-dark rounded-3">
                    <h4 class="pt-2 mb-4">Whats new!</h4>
                    <div class="card bg-dark border-0" style="width: 100%;">
                      <img src="https://i.scdn.co/image/ab6761610000e5eb12a2ef08d00dd7451a6dbed6" class="card-img-top" alt="...">
                      <div class="card-body ">
                        <p class="card-text">Text 123</p>
                      </div>
                    </div>
                  </div>
                  <div class="bg-gradient-dark rounded-3">
                    <h2 class="pt-2 mb-4 lh-1 fw-bold">Trending Music</h2>
                    <ol class="list-group list-group-numbered">
                      <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <a href="music.html" class="text-white">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Let me Love you</div>
                          Cras justo odio
                        </div>
                      </a>
                        <span class="badge bg-primary rounded-pill">5/10</span>
                      </li>
                      <li class="list-group-item  bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Subheading</div>
                          Cras justo odio
                        </div>
                        <span class="badge bg-warning rounded-pill">6/10</span>
                      </li>
                      <li class="list-group-item  bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Subheading</div>
                          Cras justo odio
                        </div>
                        <span class="badge bg-success rounded-pill">10/10</span>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</main><!-- /.container -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>
