<!DOCTYPE html>
<html>
  <head>
    <title>Song Search</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class = "wrapper1">
<br>
    <main>
        <h1>
            Song Search
        </h1>
      <form class = "form1">
        <input required type="text" maxlength="255" placeholder="enter song and artist name">
        <button type="submit">search</button>
      </form>
      <section class="results">
        <ul id="results">
        </ul>
      </section>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    
</div>
  </body>
</html>